        <footer>
            <div class="Footer_block">
                <div class="Main_footer">
                    <div class="Main_footer_2">
                        <div class="Main_footer_image">
                            <div class="Icons_3"></div>
                        </div>
                        <ul>
                            <li style="margin-left: 0px;">Home</li>
                            <li>Recipes</li>
                            <li>Photo galeries</li>
                            <li>Videos</li>
                            <li>All catigories</li>
                        </ul>
                    </div>
                    <div class="Copy_div">
                        <div class="Line_4"></div>
                        <div class="Copyright_with_text_1">
                            <div class="Copyright_with_text">
                                <div class="Copyright"></div>
                                <p>2016-2017 LEMON. All right reserved</p>
                            </div>
                        </div>
                        <div class="Icons_3"></div>
                    </div>
                </div>
            </div>
        </footer>

    </div> <!-- end wrapper -->

        <script src="js/main.min.js"></script>
    </body>
</html>