<header>
    <div class="Main_block">
        <div class="Main_logo"></div>
    </div>
    <div class="Second_block">
        <div class="Main_menu">
            <div class="Main_menu_image"></div>
            <ul>
                <li style="margin-left: 0px;">Home</li>
                <li>Recipes</li>
                <li>Photo galeries</li>
                <li>Videos</li>
                <li>All catigories</li>
            </ul>
            <div class="Find_input"><input  type="text" id="Find" placeholder="Find a recipe"><div class="find_icon"></div></div>
            <div class="Burger_menu"></div>
        </div>
    </div>
</header>