@media (min-width: 320px) and (max-width: 768px){
    .Main_block{
        display: none;
        .Main_logo{
            display: none;
        }
    }
    .Second_block{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        .Main_menu{
            box-shadow: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            ul{
                display: none;
            }
            .Main_menu_image{
                width: 73px;
                height: 33px;
            }
            .Find_input{
                #Find{
                    border: none;
                }
            }
            .Burger_menu{
                display: block;
                width: 34px;
                height: 23px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../img/burger.jpg');
            }
        }
    }
    .main_1_block{
        height: 2300px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        .First_reblock{
            height: 202px;
            width: 320px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../img/Photo_12.jpg');
            .Under_block_first{
                display: none;
            }
        }
        .Text_like_a_button{
            text-transform: uppercase;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .Second_reblock{
            box-shadow: none;
            justify-content: center;
            flex-direction: column;
            height: 1050px;
            width: 100%;
            .First_post{
                width: 320px;
                height: 353px;
                .First_image_for_post, .Second_image_for_post, .Third_image_for_post{
                    width: 320px;
                    height: 250px;
                }
            }
        }
        .Third_reblock, .Fourth_reblock, .Six_reblock, .Seven_reblock, .Eight_reblock, .Nine_block{
            display: none;
        }
        .Five_reblock{
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 950px;
            .Under_block_5_1{
                display: none;
            }
            .Under_block_5_2{
                display: flex;
                align-items: center;
                width: 100%;
                .block_o_under_2{
                    width: 320px;
                    .Level_in_under_5_2_1, .Button_of_under_block{
                        width: 310px;
                    }
                    .Button_of_under_block{
                        justify-content: space-between;
                        align-items: center;
                        button{
                            margin-right: 0;
                        }
                        .Icons_2{
                            display: block;
                        }
                    }
                    .Container_of_target{
                        display: none;
                    }
                    box-shadow: none;
                }
                height: 450px;
                .block_o_under_3{
                    display: none;
                }
                .block_o_under_4{
                    display: none;
                }
            }
            .Under_block_5_3{
                width: 100%;
                display: flex;
                align-items: center;
                height: 450px;
                .Under_block_6{
                    width: 320px;
                    .Block_u_6_2{
                        height: 50%;
                    }
                }
                .Under_block_5{
                    display: none;
                }
            }
        }
    }
    .Footer_block{
        width: 100%;
        height: 300px;
        .Copyright_with_text{
            align-items: flex-start;
            width: 166px;
        }
        .Copyright_with_text_1{
            display: flex;
            justify-content: flex-end;
            width: 320px;
            p{
                width: 150px;
            }
        }
        .Main_footer{
            height: 300px;
            flex-direction: column;
            justify-content: space-around;
            .Main_footer_2{
                display: flex;
                flex-direction: row;
                width: 320px;
                align-items: flex-start;
                margin-top: 20px;
                justify-content: space-between;
            }
        }
        .Main_footer_image{
            display: flex;
            height: 87px;
            justify-content: center;
            align-items: flex-end;
            .Icons_3{
                display: block;
                margin-left: 0;
            }
        }
        ul{
            align-items: flex-end;
            justify-content: space-between;
            height: 200px;
            width: 142px;
            flex-direction: column;
            li{
                margin-left: 0;
            }
        }
        .Copy_div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 200px;
            .Line_4{
                margin-top: 20px;
                height: 10px;
                width: 320px;
                display: block;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../img/Line_4.jpg');
            }
            .Icons_3{
                display: none;
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1440px){
    .Second_block{
        display: flex;
        justify-content: center;
        .Main_menu{
            width: 1024px;
        }
    }
    .main_1_block{
        .First_reblock{
            width: 1024px;
            height: 419px;
            .Main_elipse{
                margin-left: 930px !important;
            }
            .Under_block_first{
                height: 403px;
                margin-left: 20px;
                .Logo_of_first_block{
                    width: 245px;
                    height: 93px;
                }
            }
        }
        .Second_reblock{
            width: 1024px;
            height: 400px;
            .First_post{
                width: 304px;
                height: 300px;
                .First_image_for_post, .Second_image_for_post, .Third_image_for_post{
                    width: 304px;
                    height: 200px;
                }
            }
        }
        .Third_reblock{
            width: 1024px;
            height: 414px;
            .t_block{
                width: 454px;
                height: 359px;
                .text_for_t_block{
                    font-size: 15px;
                }
            }
            .scroll_1{
                height: 351px;
                margin-top: 0;
            }
            .label{
                margin-right: 585px;
                margin-bottom: 310px;
            }
        }
        .Fourth_reblock{
            width: 1024px;
            .Author_Info{
                width: 477px;
            }
            .Half_of_block_1, .Half_of_block_2{
                width: 500px;
                height: 551px;
            }
            .Half_of_block_1{
                button{
                    margin-top: 433px;
                }
            }
            .Half_of_block_2{
                .photo_of_author{
                    width: 100px;
                    height: 100px;
                }
                .i_2{
                    width: 360px;
                }
                .block_for_inf{
                    width: 466px;
                }
            }

        }
        .Five_reblock{
            width: 1024px;
            .Container_of_procents, .Block_u_6_2, .Container_of_target, .Block_u_6_1, .Block_inf_under_block, .block_of_inf, .Block_of_tags, .Choise_of_icons, .Block_of_calendar, .Container_of_procents, .under_text_1, .Under_block_5_1_u{
                width: 273px;
            }
            .Block_u_6_2{
                height: 50%;
            }
            .block_o_under_1_2{
                height: 214px;
            }
            .block_o_under_1, .block_o_under_2, .block_o_under_3, .block_o_under_4, .Under_block_6, .Under_block_5, .Under_block_5_1, .Under_block_5_2, .Under_block_5_3, .block_o_under_1_2{
                width: 300px;
            }
            .block_o_under_1{
                height: 411px;
            }
        }
        .Seven_reblock{
            width: 1024px;
            .H_seven_block{
                width: 970px;
                .Post_text_1{
                    width: 868px;
                    #Post_text{
                        width: 730px;
                }
                }
            }
        }
        .Eight_reblock{
            width: 1024px;
            .Line_3{
                width: 930px;
            }
            .Comments_2{
                width: 930px;
            }
            .Post_block_1{
                width: 912px;
            }
            .Thanks_for_first_comment{
                margin-left: 200px;
                .Line_2{
                    width: 825px !important;
                }
                .Post_block_1{
                    width: 767px !important;
                }
            }
            .Thanks_text{
                width: 700px;
            }
        }
    }
    .Footer_block{
        .Main_footer{
            .Main_footer_2{
                width: 689px;
            }
        }
    }
}